[Unit]
Description=Traefik

[Service]
Type=notify
ExecStart=/root/traefik/traefik --configFile=/root/traefik/traefik.toml
Restart=always
WatchdogSec=1s
WantedBy=multi-user.target
